.musicPLayer{
  height: 300px;
  width: 700px;
  border: 1px solid black;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e1dcdc;
  .song{
    height: 50px;
    width: 680px;
    margin: 10px;
    border: 1px solid black;
    display: flex;
    gap: 50px;
    align-items: center;
  }
}
.play{
  height: 100%;
  width: 80px;
  background-color: rgba(141, 215, 25, 0.73);
}
.pause{
  display: none;
  height: 100%;
  width: 80px;
  background-color: gold;
}
.songTitle{
  font-size: 25px;
  font-family: "Century Gothic";
}